.nav-link{
  font-family: 'Arvo', serif;
  color: #585858;
  }
  
  h1{
    color: #585858;
    font-family: 'Outfit', sans-serif;
  }
  
  
  .divider{
    border: 3px solid #5fb585;
  
  }
  
  #banner{
    margin-top: 35px;
  }
  
  .banner-text{
    font-family: 'Arvo', serif;
    color: #585858;
  }
  
  #featured-services{
    margin-top: 35px;
    margin-bottom: 35px; ;
  }
  
  
  .intro-services{
    color:white;
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
  }
  
  .featured-services{
    background-color: #585858 ;
  }
  
  .icons-home{
    width:90px;
    margin-top: 10px;
  }
    
  .title-carousel{
    margin-top: 60px;
    font-family: 'Outfit', sans-serif;
    color: white;
  
  }
  
  .description-carousel{
    font-family: 'Arvo', serif;
    color: white;
    font-size: small;
  }
  
  a{
    font-family: 'Arvo', serif;
    color: #5fb585;
  
  } 
  
  .trusted-title{
    color:#5fb585;
    margin: 30px 370px 50px 60px;
    font-family: 'Outfit', sans-serif;}

    .card{
      border: none;
    }
  
  .card-text{
    font-family: 'Arvo', serif;
    color: #585858 ;
    font-size: 10px;
  }
  
  .card-title{
    font-family: 'Outfit', sans-serif;
    color:  #585858;
    font-style:oblique;
  }
  
  .person{
    margin-top: 10px;;
    font-family: 'Outfit', sans-serif;;
    color: #5fb585; ;
    font-size: 10px;
  }
  
  footer{
    margin-top: 50px;
  }
  
  /* About */
  
    .title-about{ color:#5fb585;
      font-family: 'Outfit', sans-serif;
      font-size: 25px;
    }
  
    .text-about{
      font-family: 'Arvo', serif;
    color: #585858 ;
    font-size: 14px;
  
    }
  
    .section-header{
      margin-top: 30px;
    }
  
    .img-fluid1{
      width: 180px;
      justify-content: center;
    }
  
    /* Services */
  
    .icon-services{
      width:50px;
      margin-top: 10px;
    }

    .title-services{color:#5fb585;
      font-family: 'Outfit', sans-serif;
      font-size: 25px;
    }

  
    .text-services{
      font-family: 'Arvo', serif;
      color: #585858 ;
      font-size: 14px;
    }

  
  
  
    /* contact */
     button{
      color:white;
      font-family: 'Outfit', sans-serif;
      font-size: 20px;
      background-color:#5fb585;
      border: 2px #5fb585;
  
     }
  
   form, .contact{
      margin-top: 35px;
    }